# ISA 414 - Managing Big Data
## Lecture 15 – Text Mining (Part II)

#### Slide 9

In [18]:
import pandas

raw_data = pandas.read_csv("starbucks.csv", encoding='latin')
raw_data

                 time                                            message
0     1/29/2017 23:49  I absolutely agree in the drive to respect the...
1     1/29/2017 23:44  Thank you Starbucks and Mr. Schultz for suppor...
2     1/29/2017 23:11  Very unhappy with my last few visits to the ma...
3     1/29/2017 22:30  It seems to have very limited selection at the...
4     1/29/2017 22:19  So here it is â almost the end of January â...
...               ...                                                ...
1772   1/31/2017 0:02  Stick to making coffee. If I wanted politics m...
1773   1/31/2017 0:02  THANK YOU FOR SUPPORTING IMMIGRATION TO THE US...
1774   1/31/2017 0:01  I have been a Gold rewards club member for 8 y...
1775   1/31/2017 0:01  Thank you for your stance on refugees. I norma...
1776   1/31/2017 0:00              I will never visit  your stores again

[1777 rows x 2 columns]

#### Slide 10

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer   = TfidfVectorizer(use_idf = False)
tf_values = vectorizer.fit_transform(raw_data["message"])
print(tf_values)

  (0, 117)	0.09534625892455924
  (0, 204)	0.09534625892455924
  (0, 2184)	0.28603877677367767
  (0, 4236)	0.19069251784911848
  (0, 1348)	0.09534625892455924
  (0, 4301)	0.28603877677367767
  (0, 3552)	0.09534625892455924
  (0, 3609)	0.09534625892455924
  (0, 278)	0.19069251784911848
  (0, 1759)	0.09534625892455924
  (0, 2891)	0.09534625892455924
  (0, 1524)	0.09534625892455924
  (0, 2092)	0.09534625892455924
  (0, 4679)	0.09534625892455924
  (0, 298)	0.19069251784911848
  (0, 893)	0.19069251784911848
  (0, 4202)	0.09534625892455924
  (0, 2628)	0.09534625892455924
  (0, 4234)	0.09534625892455924
  (0, 255)	0.09534625892455924
  (0, 2855)	0.28603877677367767
  (0, 4626)	0.09534625892455924
  (0, 366)	0.09534625892455924
  (0, 1063)	0.19069251784911848
  (0, 2136)	0.09534625892455924
  :	:
  (1774, 4143)	0.09805806756909202
  (1775, 4301)	0.23570226039551587
  (1775, 4708)	0.23570226039551587
  (1775, 2920)	0.23570226039551587
  (1775, 1712)	0.23570226039551587
  (1775, 4005)	0.23570226039551587
  (1775, 654)	0.23570226039551587
  (1775, 4227)	0.23570226039551587
  (1775, 4791)	0.23570226039551587
  (1775, 4794)	0.23570226039551587
  (1775, 407)	0.23570226039551587
  (1775, 2865)	0.23570226039551587
  (1775, 3461)	0.23570226039551587
  (1775, 3991)	0.23570226039551587
  (1775, 461)	0.23570226039551587
  (1775, 4395)	0.23570226039551587
  (1775, 3482)	0.23570226039551587
  (1775, 3054)	0.23570226039551587
  (1775, 2851)	0.23570226039551587
  (1776, 4708)	0.4082482904638631
  (1776, 196)	0.4082482904638631
  (1776, 4055)	0.4082482904638631
  (1776, 4794)	0.4082482904638631
  (1776, 2820)	0.4082482904638631
  (1776, 4577)	0.4082482904638631

#### Slide 11

In [4]:
all_word_names  = vectorizer.get_feature_names()

# nonzero() returns two rows. The first one contains the document index. The second one contains the word (column) indexes. We are interested in the latter. Hence, the [1]
doc0_word_index = tf_values[0,:].nonzero()[1]
print(doc0_word_index)

doc0_word_names = [all_word_names[w] for w in doc0_word_index]
print(doc0_word_names)

[ 117  204 2184 4236 1348 4301 3552 3609  278 1759 2891 1524 2092 4679
  298  893 4202 2628 4234  255 2855 4626  366 1063 2136 1284  480 1525
 4249 4708 2748 2920 4625  454 2686 1705 1712 1910 2953 2543 4005  848
  654 1662  290  592 1432 1870 2558  632 1054  355 2753 3703 3835 1729]
['absolutely', 'agree', 'in', 'the', 'drive', 'to', 'respect', 'rights', 'and', 'freedom', 'of', 'everyone', 'however', 'when', 'any', 'company', 'tells', 'me', 'that', 'am', 'not', 'wanted', 'as', 'customer', 'if', 'do', 'believe', 'everything', 'they', 'will', 'move', 'on', 'want', 'be', 'mindless', 'follower', 'for', 'group', 'or', 'love', 'starbucks', 'coffee', 'but', 'find', 'another', 'brand', 'embrace', 'good', 'luck', 'building', 'cult', 'around', 'mr', 'schultz', 'signed', 'former']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

#### Slide 15

In [5]:
# splitlines() remove the breakline character \n from each list of words
file = open('positive-words.txt', 'r')
positive_words = file.read().splitlines() 

file = open('negative-words.txt', 'r')
negative_words = file.read().splitlines()

#### Slide 16

In [6]:
# words in document 80
doc80_word_index = tf_values[79,:].nonzero()[1]
doc80_word_names = [all_word_names[w] for w in doc80_word_index]

print(doc80_word_names)

['in', 'the', 'to', 'and', 'of', 'as', 'want', 'for', 'starbucks', 'thank', 'you', 'your', 'service', 'time', 'business', 'corporation', 'refugees', 'hope', 'wife', 'uniformed', 'member', 'applaud', 'pledge', 'employ', 'ray', 'frightening', 'demonstrating', 'humanity', 'realm']

In [7]:
# counting the number of times each word in document 80 occurs in the positive and negative lists of words
count_positive_words = [positive_words.count(word) for word in doc80_word_names]
count_negative_words = [negative_words.count(word) for word in doc80_word_names]

# taking the difference between the sum of the above counts
score = sum(count_positive_words) - sum(count_negative_words)
print(score)

1

#### Slide 17

In [8]:
# words in document 248
doc248_word_index = tf_values[247,:].nonzero()[1]
doc248_word_names = [all_word_names[w] for w in doc248_word_index]

print(doc248_word_names)

['the', 'to', 'and', 'of', 'me', 'that', 'will', 'for', 'starbucks', 'but', 'have', 'over', 'your', '10', 'been', 'no', 'point', 'management', 'products', 'by', 'longer', 'years', 'loyal', 'recent', 'comments', 'unfortunately', 'consumer', 'events', 'upper', 'disgusted', 'use']

In [9]:
# counting the number of times each word in document 248 occurs in the positive and negative lists of words
count_positive_words = [positive_words.count(word) for word in doc248_word_names]
count_negative_words = [negative_words.count(word) for word in doc248_word_names]

# taking the difference between the sum of the above counts
score = sum(count_positive_words) - sum(count_negative_words)
print(score)

-1

#### Slide 22 - we won't need the previous variables anymore. You can hit the Restart button to release the memory used by them

In [15]:
import pandas
from sklearn.feature_extraction.text import TfidfVectorizer

raw_data = pandas.read_csv("IMDB.csv")

#vectorizer   = TfidfVectorizer(stop_words = "english")
vectorizer   = TfidfVectorizer(ngram_range=(1,2))
tfidf_values = vectorizer.fit_transform(raw_data['text'])

#### Slide 23

In [16]:
# creating a document-term matrix
dtm = pandas.DataFrame(tfidf_values.toarray())

# adding the column names to the matrix
dtm.columns = vectorizer.get_feature_names()

dtm

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,00 am,00 feet,00 for,00 if,00 showing,00 sunday,00 wasn,000,000 000,...,zwick the,zwick thinks,zwigoff,zwigoff brilliant,zwigoff superb,zycie,zycie masterfully,zycie za,zzzzzzz,zzzzzzz critique
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
from sys import getsizeof

# approximate size of dtm in megabytes
getsizeof(dtm)/1000000

7132.233744

#### Slide 24

In [13]:
dtm['target_var'] = raw_data['class']

#### Slide 25

In [14]:
from sklearn.model_selection import train_test_split

# the drop function returns all the columns in a data frame, except the specified ones
x = dtm.drop(columns=["target_var"])
y = dtm["target_var"]

# 66% training and 34% test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.34)

#### Slide 26

In [19]:
from sklearn.ensemble import RandomForestClassifier

# creating a random forest
model = RandomForestClassifier(n_estimators=1000)

# fittig the model
model = model.fit(x_train,y_train)

In [20]:
from sklearn import metrics

# predicting tariffs on the test set
y_pred = model.predict(x_test)

# printing overall accuracy on the test set
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.761437908496732