# ISA 414 - Managing Big Data
## Lecture 5 - Preliminaries (Part IV): User-Defined Functions and Modules

#### Slide 5

In [1]:
# the command below calculates the sum of 1 + 1
1+1

2

#### Slide 6

In [2]:
1 + 1 # another comment

2

In [3]:
"""
A multi-line
comment
in Python
"""
print("See how everything above was ignored")

See how everything above was ignored

#### Slide 9

In [4]:
def RatioMaxMin(value_1, value_2):
    ratio = max(value_1, value_2) / min(value_1, value_2)
    return ratio

#### Slide 10

In [5]:
print(RatioMaxMin(10,2))
print(RatioMaxMin(2, 10))
print(RatioMaxMin(1,2))
print(RatioMaxMin(10,0)) # this line causes an error
print(RatioMaxMin(10,'2')) # this line causes an error

5.0
5.0
2.0

ZeroDivisionError: division by zero

#### Slide 11

In [ ]:
def RatioMaxMin2(value_1, value_2 = 10):
    ratio = max(value_1, value_2) / min(value_1, value_2)
    return ratio

#### Slide 12

In [ ]:
print(RatioMaxMin2(10))
print(RatioMaxMin2(5))
print(RatioMaxMin2(5,2))

1.0
2.0
2.5

#### Slide 13

In [ ]:
def RatioMaxMin3(value_1, value_2 = 10):
    if type(value_1) == int and type(value_2) == int:
        ratio = max(value_1, value_2) / min(value_1, value_2)
        return ratio
    else:
        return "One of the arguments is not of type integer"

In [ ]:
# testing the above function
print(RatioMaxMin3(10,2))
print(RatioMaxMin3(10,"2"))

5.0
One of the arguments is not of type integer

#### Slide 14

In [ ]:
def RatioMaxMin3(value_1, value_2 = 10):
    try:
        ratio = max(value_1, value_2) / min(value_1, value_2)
        return ratio
    except:
        return "One of the arguments is not a number"

In [ ]:
# testing the above function
print(RatioMaxMin3(10,2))
print(RatioMaxMin3(10,"2"))

#### Slide 19

In [ ]:
# first code
import mymodule

print(mymodule.increment_by_two (10))

12

In [ ]:
# second code
import mymodule as mm

print(mm.increment_by_two (10))

12

#### Slide 20

In [ ]:
from mymodule import my_var

print(my_var[1])

414

#### Slide 27

In [6]:
from ipyleaflet import Map, Marker
import pandas

#### Slide 28

In [7]:
# reading the data
df = pandas.read_csv("web_log.csv")

df

          City        Client_IP   Country_Name   Latitude   Longitude
0    Singapore  128.199.234.236      Singapore   1.293100  103.855797
1    Singapore  128.199.234.236      Singapore   1.293100  103.855797
2    Singapore  128.199.234.236      Singapore   1.293100  103.855797
3    Singapore  128.199.234.236      Singapore   1.293100  103.855797
4    Singapore  128.199.234.236      Singapore   1.293100  103.855797
..         ...              ...            ...        ...         ...
994    Ashburn     54.227.93.32  United States  39.043701  -77.487503
995    Ashburn     54.227.93.32  United States  39.043701  -77.487503
996    Ashburn     54.227.93.32  United States  39.043701  -77.487503
997    Ashburn     54.227.93.32  United States  39.043701  -77.487503
998    Ashburn     54.227.93.32  United States  39.043701  -77.487503

[999 rows x 5 columns]

In [8]:
# removing rows that contain duplicate combinations of latitude and longitude
df = df.drop_duplicates(["Latitude","Longitude"])

df

              City        Client_IP    Country_Name   Latitude   Longitude
0        Singapore  128.199.234.236       Singapore   1.293100  103.855797
5    Mountain View    66.249.76.236   United States  37.386002 -122.083801
6          Guiyang    222.85.131.87           China  26.583300  106.716698
8         Shanghai  101.226.168.225           China  31.045601  121.399696
12       Zhengzhou   182.118.25.227           China  34.683601  113.532501
17       Hyderabad   122.175.18.128           India  17.375299   78.474403
24         Beijing     180.76.6.144           China  39.928902  116.388298
38        Shenzhen     202.46.62.17           China  22.533300  114.133301
39           Tokyo   119.63.193.130           Japan  35.685001  139.751404
46             NaN   37.188.237.170  Czech Republic  49.750000   15.500000
74       Guangzhou     59.42.126.21           China  23.116699  113.250000
77           Tracy  108.239.134.115   United States  37.737499 -121.425797
78             NaN      8.35.201.55   United States  38.000000  -97.000000
80         Ashburn     107.22.83.91   United States  39.043701  -77.487503
119            NaN   91.199.119.254          Israel  31.500000   34.750000
123      Charlotte    143.165.48.50   United States  35.227100  -80.843102
125        Raleigh      99.3.64.127   United States  35.848000  -78.700401
135    Camponogara     87.0.176.240           Italy  45.384998   12.072200
155        Bangkok      61.90.20.30        Thailand  13.754000  100.501404
761            NaN      46.27.28.87           Spain  40.000000   -4.000000

In [9]:
# defining the city values that are missing as "NA". Without this, we would have an error later
df["City"] = df["City"].fillna("NA")

df

/var/folders/88/l0rstcb91tn63mf9tdbd364r0000gn/T/ipykernel_749/1958692684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["City"] = df["City"].fillna("NA")

              City        Client_IP    Country_Name   Latitude   Longitude
0        Singapore  128.199.234.236       Singapore   1.293100  103.855797
5    Mountain View    66.249.76.236   United States  37.386002 -122.083801
6          Guiyang    222.85.131.87           China  26.583300  106.716698
8         Shanghai  101.226.168.225           China  31.045601  121.399696
12       Zhengzhou   182.118.25.227           China  34.683601  113.532501
17       Hyderabad   122.175.18.128           India  17.375299   78.474403
24         Beijing     180.76.6.144           China  39.928902  116.388298
38        Shenzhen     202.46.62.17           China  22.533300  114.133301
39           Tokyo   119.63.193.130           Japan  35.685001  139.751404
46              NA   37.188.237.170  Czech Republic  49.750000   15.500000
74       Guangzhou     59.42.126.21           China  23.116699  113.250000
77           Tracy  108.239.134.115   United States  37.737499 -121.425797
78              NA      8.35.201.55   United States  38.000000  -97.000000
80         Ashburn     107.22.83.91   United States  39.043701  -77.487503
119             NA   91.199.119.254          Israel  31.500000   34.750000
123      Charlotte    143.165.48.50   United States  35.227100  -80.843102
125        Raleigh      99.3.64.127   United States  35.848000  -78.700401
135    Camponogara     87.0.176.240           Italy  45.384998   12.072200
155        Bangkok      61.90.20.30        Thailand  13.754000  100.501404
761             NA      46.27.28.87           Spain  40.000000   -4.000000

#### Slide 29

In [10]:
# creating an empty map 
map = Map(zoom = 1)

# for each row in df
for i in range(len(df)):

    # create a marker at the location (latitude[i], longitude[i])    
    marker = Marker(location=(df.iloc[i,3], df.iloc[i,4]), 
                    draggable=False, # the marker cannot be dragged
                    title = df.iloc[i,0]) # the text associated with the marker is the city's name
    
    # add marker to map    
    map.add_layer(marker)

# plot map
map

Map(center=[0.0, 0.0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…